@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

html,
body {
    height: 100%;
}

body {
    background-color: rgb(1, 1, 50);
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

.icon-rounded {
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
}


.text-darkblue {
    color: rgb(1, 1, 50);
}

.bg-darkblue {
    background-color: rgb(1, 1, 50);
}

.border-darkblue {
    border-color: rgb(1, 1, 50) !important;
}

.text-beige {
    color: rgb(238, 212, 132);
}

a.text-beige:hover {
    color: white;
}

.header-beige {
    color: rgb(238, 212, 132);
    margin-left: 1rem;
    border-bottom: 3px solid rgb(238, 212, 132);
    border-radius: 10px;
}

.active-beige {
    color: rgb(238, 212, 132);
    border-top: 3px solid rgb(238, 212, 132);
    border-bottom: 3px solid rgb(238, 212, 132);
    opacity: 0.7;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.active-beige-hidden {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.bg-beige {
    background-color: rgb(238, 212, 132);
}

.border-beige {
    border-color: rgb(238, 212, 132) !important;
}

/* Button styles */
.btn-darkblue {
    color: rgb(238, 212, 132);
    background-color: rgb(1, 1, 50);
    border-color: rgb(1, 1, 50);
    padding-top: 0.1rem;
}

.btn-darkblue:hover {
    color: rgb(1, 1, 50);
    background-color: rgb(238, 212, 132);
    border-color: rgb(1, 1, 50);
}

.btn-beige {
    color: rgb(1, 1, 50);
    background-color: rgb(238, 212, 132);
    border-color: rgb(238, 212, 132);
    padding-top: 0.1rem;
}

.btn-beige:hover {
    color: rgb(238, 212, 132);
    background-color: rgb(1, 1, 50);
    border-color: rgb(238, 212, 132);
}

.red-warning {
    cursor: pointer;
    padding-top: 0.7rem;
    border-right: 3px solid transparent;
    border-radius: 10px;
}

.red-warning:hover {
    color: red !important;
    border-right: 3px solid red;
    border-radius: 10px;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.mw-750 {
    max-width: 750px;
}

.mw-350 {
    max-width: 350px;
}

.w-350 {
    width: 350px;
}

.bg-blur {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
}

.crossed {
    background:
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 0.8px),
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) calc(50% + 0.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 0.8px),
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) calc(50% + 0.8px),
            rgba(0, 0, 0, 0) 100%);
}

*:focus {
    box-shadow: none !important;
}

@media (max-width: 767.98px) {
    /* hide on small screens */
    .hoss {
        display: none !important;
    }
    .content-sm-75 {
        /* Styles for decreasing content size on small screens */
        zoom: 0.75;
        /* 0.75 means 75% of the original size */
    }
}



/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 0.3em;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}